.transaction-history-header {
  display: flex;
  align-items: center;

  .filter-header {
    flex-basis: 50%;
  }

  .sort-header {
    flex-basis: 50%;
    margin-left: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .label {
      margin-right: 10px;
    }

    .buttons {
      display: flex;
      border: 1px solid grey;

      .button {
        border-right: 1px solid grey;
        padding: 5px 10px;
        display: flex;
        align-items: center;
      }

      .button:last-child {
        border-right: none;
      }
    }
  }
}

.transaction-content {
  margin-top: 15px;

  .transaction-content-item {
    display: flex;
    height: 50px;

    .color {
      height: 100%;
      width: 5px;
      background-color: brown;
    }

    .data-container {
      display: flex;
      flex-basis: 100%;
      border-right: 1px solid grey;
      border-top: 1px solid grey;

      align-items: center;
      font-size: 13px;

      .date {
        flex-basis: 15%;
        text-align: center;
      }
      .data {
        flex-basis: 70%;

        .place {
          font-weight: bold;
          font-size: 14;
        }
      }
      .amount {
        flex-basis: 15%;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
      }
    }
  }

  .transaction-content-item:last-child {
    .data-container {
      border-bottom: 1px solid grey;
    }
  }
}
