.transaction-content-item {
  display: flex;
  height: 50px;

  .color{
    &.blue{
      background-color: steelblue;
    }
    &.red{
      background-color: indianred;
    }
    &.green{
      background-color: seagreen;
    }
  }
}


